@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{

    margin: 0;
    padding: 0;
}

body{

    font-family: 'Roboto', sans-serif;
    background-color: #DCD6F7;
    
}

h1{
    text-align: center;
    color: #fff;
    background-color: #424874;
    padding: 10px 10px 10px 10px;
    border-radius: 13px;
    margin: 5px 5px 0px 5px;

}

.contenedor1{

text-align: center;
background-color: #A6B1E1;
margin: 10px 400px 10px 400px;
border-radius:13px  ;
font-size: 25px;
/* border: solid #000;
margin: 10px 400px 10px 400px; */

}

